@import "../reset.css";

.canvasWrap.fishes .canvas {
  background-color: #ffe877;
}

.fishWrap {
}
.fish {
  /* display: flex; */
  position: absolute;
  /* width: 20%;
  height: 15%; */
  top: 20%;
  left: 10%;
  width: 400px;
  height: 150px;
  /* background-color: lightcoral; */
}
.fish > div {
  position: absolute;
  top: 0;
  height: 100%;
  color: transparent;
  font-size: 0;
}
.fish .head {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 93%;
  /* background-color: lightgreen; */
  border-width: 0 2px 0 0;
  border-style: solid;
  border-color: transparent #000 transparent transparent;
}
.fish .head .eye {
  display: inline-block;
  position: absolute;
  top: 34%;
  left: 33%;
  width: 38%;
  height: 22%;
  border: 2px solid #000;
  border-radius: 50%;
}
.fish .head .eye::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64%;
  height: 64%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #000;
}
.fish .body {
  left: 0;
  width: 300px;
  border: 2px solid #000;
  border-radius: 70% 50% 70% 50%;
  background-color: transparent;
}
.fish .body .fins {
  position: absolute;
  left: 38%;
  width: 40%;
  height: 100%;
}
.fish .body .fins span {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 20%;
  border-style: solid;
  border-color: #000;
}
.fish .body .fins .finTop {
  top: -17%;
  transform: rotate(361deg);
  border-width: 2px 2px 0 2px;
  border-radius: 80% 50% 0 0;
}
.fish .body .fins .finBottom {
  bottom: -15%;
  transform: rotate(352deg);
  border-width: 0 2px 2px 2px;
  border-radius: 0 0 50% 90%;
}
.fish .tail {
  right: 0;
  width: 30%;
  height: 74%;
  margin: 2% 0 5%;
}
.fish .tail::before {
  content: "";
  display: block;
  position: absolute;
  right: -20%;
  top: 22%;
  width: 47%;
  height: 50%;
  transform: rotate(43deg);
  border-width: 2px;
  border-style: solid;
  border-color: #000 #000 transparent transparent;
  border-radius: 50%;
}
.fish .tail span {
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
}
.fish .tail .top {
  top: 10%;
  transform: rotate(339deg);
  border-top: 2px solid #000;
}
.fish .tail .bottom {
  bottom: 10%;
  transform: rotate(20deg);
  border-bottom: 2px solid #000;
}
.fish .tail .top::before,
.fish .tail .bottom::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: 30%;
  height: 66%;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}
.fish .tail .top::before {
  border-color: #000 #000 transparent transparent;
  /* transform: rotate(20deg); */
}
.fish .tail .bottom::before {
  bottom: 0;
  border-color: transparent #000 #000 transparent;
}
