@import "../reset.css";

.canvasWrap.fishes .canvas {
  background-color: #ffe877;
}

.fishWrap {
}
.fish {
  /* display: flex; */
  position: absolute;
  /* width: 20%;
  height: 15%; */
  top: 20%;
  left: 10%;
  width: 400px;
  height: 150px;
  /* background-color: lightcoral; */
}
.fish > div {
  position: absolute;
  top: 0;
  height: 100%;
  color: transparent;
  font-size: 0;
}
.fish .head {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 93%;
  /* background-color: lightgreen; */
  border-width: 0 2px 0 0;
  border-style: solid;
  border-color: transparent #000 transparent transparent;
}
.fish .head .eye {
  display: inline-block;
  position: absolute;
  top: 34%;
  left: 33%;
  width: 38%;
  height: 22%;
  border: 2px solid #000;
  border-radius: 50%;
}
.fish .head .eye::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64%;
  height: 64%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #000;
}
.fish .body {
  left: 0;
  width: 300px;
  border: 2px solid #000;
  border-radius: 70% 50% 70% 50%;
  background-color: transparent;
}
.fish .body .fins {
  position: absolute;
  left: 38%;
  width: 34%;
  height: 100%;
}
.fish .body .fins span {
  display: inline-block;
  position: absolute;
  border-style: solid;
  border-color: #000;
}
.fish .body .fins .finTop {
  top: -47%;
  width: 100%;
  height: 50%;
  transform: rotate(-1deg);
  border-width: 2px 2px 0 2px;
  border-radius: 80% 50% 0 0;
}
.fish .body .fins .finBottom {
  bottom: -39%;
  left: 17%;
  width: 65%;
  height: 41%;
  transform: rotate(355deg);
  border-width: 0 2px 2px 2px;
  border-radius: 0 0 50% 90%;
}
.fish .tail {
  right: -19px;
  width: 30%;
  height: 90%;
}
.fish .tail::before,
.fish .tail::after {
  content: "";
  display: block;
  position: absolute;
  right: 4%;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent #000 #000;
  border-radius: 50%;
}
.fish .tail::before {
  top: 7.5%;
  width: 35%;
  height: 37%;
  transform: rotate(43deg);
}
.fish .tail::after {
  top: 43.5%;
  width: 43%;
  height: 41%;
  transform: rotate(217deg);
}
.fish .tail span {
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
}
.fish .tail .top {
  top: 2%;
  transform: rotate(328deg);
  border-top: 2px solid #000;
}
.fish .tail .bottom {
  bottom: 8%;
  transform: rotate(31deg);
  border-bottom: 2px solid #000;
}
.fish .tail .top::before,
.fish .tail .bottom::before {
  content: "";
  display: block;
  position: absolute;
  right: -7px;
  width: 23%;
  height: 58%;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}
.fish .tail .top::before {
  top: -7px;
  border-color: #000 #000 transparent transparent;
  transform: rotate(65deg);
}
.fish .tail .bottom::before {
  bottom: -6px;
  border-color: transparent #000 #000 transparent;
  transform: rotate(302deg);
}
