* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.twinkleWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  perspective: 1000px;
  perspective-origin: 130% 10%;
  background-color: aquamarine;
}
.twinkleWrap .twinkles {
  display: flex;
  position: relative;
  padding: 10px 0;
}
.twinkleWrap .twinkles li {
  padding: 0 10px;
  /* width: 100px;
  height: 200px; */
  /* perspective: 600px; */
}
.twinkleWrap .twinkles:nth-child(1) {
  z-index: 30;
}
.twinkleWrap .twinkles:nth-child(2) {
  z-index: 20;
}
.twinkleWrap .twinkles:nth-child(3) {
  z-index: 0;
}
.twinkle {
  position: relative;
  width: 100px;
  height: 200px;
  /* perspective: 500px; */
  /* transform: rotateY(-20deg); */
  transform-style: preserve-3d;
  transition: 1s;
}
.twinkles:hover .twinkle {
  transform: rotateY(60deg);
}
.twinkle span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 200px;
}
.twinkle .front {
  transform: rotateY(0deg) translateZ(20px);
  background: rgb(0 234 255 / 70%);
  z-index: 100;
}
.twinkle .back {
  transform: rotateY(180deg) translateZ(20px);
  background: hsla(120, 100%, 50%, 0.7);
}
.twinkle .left,
.twinkle .right {
  width: 40px;
}
.twinkle .right {
  transform: rotateY(90deg) translateZ(80px);
  background: hsla(60, 100%, 50%, 0.7);
}
.twinkle .left {
  transform: rotateY(-90deg) translateZ(20px);
  background: hsla(180, 100%, 50%, 0.7);
}
.twinkle .top,
.twinkle .bottom {
  /* height: 80px; */
  height: 40px;
}

.twinkle .top {
  transform: rotateX(90deg) translateZ(20px);
  background: hsla(240, 100%, 50%, 0.7);
}
.twinkle .bottom {
  transform: rotateX(-90deg) translateZ(180px);
  background: hsla(300, 100%, 50%, 0.7);
}
