* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.canvasWrap {
  padding-top: 2.8em;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}
.canvasWrap .canvas {
  position: relative;
  overflow: hidden;
  width: 92vw;
  height: 82vh;
  margin: 0 auto;
  background-color: aquamarine;
}
.twinkleWrap {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  perspective: 1000px;
  perspective-origin: 120% 10%;
  opacity: 0.8;
}
.twinkleWrap .twinkles {
  display: flex;
  position: relative;
  padding: 10px 0;
}
.twinkleWrap .twinkles:last-child .twinkle:after {
  display: none;
}
.twinkleWrap .twinkles li {
  padding: 0 10px;
  /* width: 100px;
  height: 200px; */
  /* perspective: 600px; */
}
.twinkleWrap .twinkles:nth-child(1) {
  z-index: 30;
}
.twinkleWrap .twinkles:nth-child(2) {
  z-index: 20;
}
.twinkleWrap .twinkles:nth-child(3) {
  z-index: 0;
}
.twinkle {
  position: relative;
  width: 100px;
  height: 200px;
  transform: translateZ(-20px);
  transform-style: preserve-3d;
  transition: 1s;
  color: transparent;
  /* -webkit-box-shadow: 0 33px 36px -5px rgba(55, 158, 149, 0.87);
  box-shadow: 0 33px 36px -5px rgba(55, 158, 149, 0.87); */
}
.twinkle::after {
  content: "";
  position: absolute;
  bottom: -23%;
  left: 15%;
  width: 93%;
  height: 19%;
  opacity: 0.3;
  border-radius: 20%;
  background: rgb(38, 143, 133);
  background: radial-gradient(
    circle,
    rgba(38, 143, 133, 1) 24%,
    rgba(74, 161, 153, 1) 45%,
    rgba(110, 179, 173, 0.8058035714285714) 65%,
    rgba(173, 212, 209, 0) 81%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: rotateX(-90deg) translateZ(-3px) translateY(18px);
  transition: 1s linear;
}
.twinkle:hover::after {
  width: 60%;
}
/* .twinkle::before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0%;
  left: -15%;
  width: 40%;
  height: 40%;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(254, 255, 255, 0) 44%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 56%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateZ(30px);
  transition: 1s linear;
} */
.twinkle:hover {
  transform: translateZ(-20px) rotateY(60deg);
}
/* .twinkle:hover::before {
  opacity: 1;
  top: -19%;
  left: -25%;
} */
.twinkle:hover .front {
  background: rgb(0, 234, 255);
  background: linear-gradient(
    320deg,
    rgba(0, 234, 255, 1) 0%,
    rgba(239, 254, 255, 1) 72%,
    rgba(255, 255, 255, 1) 84%,
    rgba(154, 247, 255, 1) 100%
  );
  /* background: rgb(0, 234, 255);
  background: linear-gradient(
    328deg,
    rgba(0, 234, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); */
}
.twinkle .front::before,
.twinkle .front::after {
  display: block;
  opacity: 0;
  content: "";
  position: absolute;
  left: -70%;
  width: 200%;
  transform: rotate(310deg) translateY(30px);
  background: rgb(0 234 255);
  transition: 1s linear;
}
.twinkle .front::before {
  top: 62%;
  height: 20%;
}
.twinkle .front::after {
  top: 103%;
  height: 5%;
  -webkit-box-shadow: 10px 14px 25px 5px rgba(0, 234, 255, 0);
  box-shadow: 10px 14px 25px 5px rgba(0, 234, 255, 0);
}
.twinkle:hover .front::before,
.twinkle:hover .front::after {
  opacity: 1;
  left: -76%;
  background: #fff;
}
.twinkle:hover .front::before {
  top: -16%;
}
.twinkle:hover .front::after {
  top: 32%;
  -webkit-box-shadow: 10px 14px 20px 5px rgba(255, 255, 255, 1);
  box-shadow: 10px 14px 20px 5px rgba(255, 255, 255, 1);
}
.twinkle:hover .left {
  background: rgb(209, 252, 168);
  background: linear-gradient(
    328deg,
    rgba(209, 252, 168, 1) 0%,
    rgba(238, 255, 222, 1) 100%
  );
}
.twinkle:hover .top {
  background: rgb(161, 255, 207);
  background: linear-gradient(
    328deg,
    rgba(161, 255, 207, 1) 0%,
    rgba(226, 255, 240, 1) 100%
  );
}
.twinkle span {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100px;
  height: 200px;
  opacity: 0.7;
}
.twinkle .front {
  overflow: hidden;
  transform: rotateY(0deg) translateZ(20px);
  background: rgb(0 234 255);
  z-index: 100;
}
.twinkle .back {
  transform: rotateY(180deg) translateZ(20px);
  /* background: rgb(128 244 255); */
  /* background: rgb(77 245 204 / 70%); */
  background: rgb(52 180 227);
}
.twinkle .left,
.twinkle .right {
  width: 40px;
}
.twinkle .right {
  transform: rotateY(90deg) translateZ(80px);
  /* background: rgb(13 195 162); */
  /* background: rgb(47 222 188 / 70%); */
  /* background: rgb(59 212 197); */
  background: rgb(59 212 197);
  background: linear-gradient(
    360deg,
    rgba(59, 212, 197, 1) 44%,
    rgba(50, 172, 160, 1) 100%
  );
}
.twinkle .left {
  transform: rotateY(-90deg) translateZ(20px);
  /* background: rgb(137 253 134); */
  background: rgb(209 252 168);
}
.twinkle .top,
.twinkle .bottom {
  /* height: 80px; */
  height: 40px;
}

.twinkle .top {
  transform: rotateX(90deg) translateZ(20px);
  background: rgb(161 255 207);
}
.twinkle .bottom {
  transform: rotateX(-90deg) translateZ(180px);
  background: rgb(9 144 119);
}

/*.heart {
  position: absolute;
  z-index: 100;
  width: 4em;
  height: 4em;
  transform: translateZ(100px);
}
 .heart span {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-color: #ff2992;
  border-style: solid;
  border-width: 1em;
  color: transparent;
}
.heart .left {
  left: 0;
  border-radius: 50% 100% 0 100%;
  transform: rotate(13deg);
}
.heart .right {
  right: 14px;
  border-radius: 100% 50% 100% 0;
  transform: rotate(13deg);
}
.heart .bottom {
  left: 0;
  bottom: 0;
  width: 100%;
  border-width: 1em 0 0 0;
} */
/* .twinkle.shine::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transform: translateZ(30px);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    328deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(230, 253, 255, 1) 100%
  );
  z-index: 10;
} */
.shape {
  position: absolute;
  transform-style: preserve-3d;
  transition: 1s linear;
}
/* .shape:hover {
  transform: translateZ(-20px) rotateY(60deg);
} */
.twinkle:hover .heart {
  display: block;
  opacity: 1;
  transition: 1s linear;
}
.twinkle .heart {
  display: none;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -45px 0 0 -50px;
  width: 100px;
  height: 90px;
  transform: scale(0.7) rotateY(0deg) translateZ(20px);
  z-index: 100;
}
.twinkle .heart:before,
.twinkle .heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: pink;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.twinkle .heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

/* canvasBackground */
.canvasBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* animation: clouds 100s infinite; */
}
.clouds {
  position: absolute;
  width: 300px;
  height: 90px;
}
.clouds:nth-child(1) {
  top: 15%;
  left: 8%;
  transform: scale(0.7);
  opacity: 0.7;
}
.clouds:nth-child(2) {
  left: 41%;
  top: 57%;
}
.clouds:nth-child(3) {
  right: 4.5%;
  top: 30%;
  transform: scale(0.9);
  z-index: 10;
}
.clouds:nth-child(3) .cloud {
  background-color: rgb(219 255 243);
}
.clouds:nth-child(4) {
  left: 21%;
  top: 45%;
  transform: scale(0.4);
  animation: cloudMove 2s infinite;
  /* transition: 4s linear; */
  z-index: 10;
}
.clouds:nth-child(5) {
  left: -10%;
  top: 82%;
  transform: scale(0.6);
  z-index: 10;
}
.cloud {
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #f2fffb;
  border-radius: 50%;
  color: transparent;
}
.cloud:nth-child(1) {
  left: 0;
  bottom: -33px;
  width: 234px;
}
.cloud:nth-child(2) {
  top: -10px;
  left: 44px;
  width: 145px;
}
.cloud:nth-child(3) {
  top: 45px;
  right: -20px;
  width: 200px;
  height: 82px;
}
.cloud:nth-child(4) {
  left: 83px;
  bottom: -46px;
  width: 65px;
  height: 50px;
  transform: rotate(345deg);
}
.cloud:nth-child(5) {
  top: 10px;
  left: 154px;
  width: 120px;
}
.cloud:nth-child(6) {
  left: -36px;
  bottom: -43px;
  width: 152px;
  height: 56px;
}
.cloud:nth-child(7) {
  right: 51px;
  bottom: -46px;
  width: 125px;
  height: 77px;
  transform: rotate(163deg);
}

/* rain */
.rain {
  position: absolute;
  top: 0;
  opacity: 1;
  top: 150%;
  left: 50%;
  width: 48%;
  opacity: 0;
  z-index: -1;
  transform: translateX(-52%);
  height: 100vmin;
}
.clouds .rain.drop {
  opacity: 1;
  top: 150%;
}
.rain .raindrop {
  display: block;
  /* position: relative; */
  position: absolute;
  width: 100%;
  /* height: 70px; */
  height: 13vmin;
  margin: 10px 0;
  border-width: 0 3px 0 3px;
  border-style: dashed;
  /* border-color: #787878; */
  border-color: #54a086;
  background-color: transparent;
  color: transparent;
  font-size: 0;
  /* animation: dropOpac 3s infinite; */
}
.clouds .rain.drop .raindrop {
}
.rain .raindrop::before,
.rain .raindrop::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 88%;
  border-width: 0 3px 0 3px;
  border-style: solid;
  /* border-color: #929292; */
  border-color: #5fbc9d;
  background-color: transparent;
}
.rain .raindrop::before {
  border-right-width: 5px;
  /* height: 25px; */
  height: 4.301vmin;
  top: 10%;
  left: -32%;
  border-style: none double none dotted;
  /* animation: drop 2s infinite; */
}
.rain .raindrop::after {
  height: 40px;
  top: 25%;
  right: -25%;
  /* animation: dropOpac 2s infinite; */
  animation-delay: 1s;
}
.rain .raindrop:nth-child(even) {
  margin: -25% 0 0 14%;
}
.rain .raindrop:nth-child(1) {
  top: 0;
}
.rain .raindrop:nth-child(2) {
  top: 17%;
}
.rain .raindrop:nth-child(3) {
  top: 20%;
}
.rain .raindrop::before:nth-child(3) {
  /* animation-name: drop;
  animation-delay: 1s; */
}
.rain .raindrop:nth-child(4) {
  top: 37%;
}
.rain .raindrop:nth-child(4)::after {
  animation-delay: 2s;
}
.rain .raindrop:nth-child(5) {
  top: 40%;
}
.rain .raindrop:nth-child(5)::before {
  animation-delay: 2s;
}
.rain .raindrop:nth-child(6) {
  top: 57%;
  /* animation-delay: 3s; */
}
.rain .raindrop:nth-child(7) {
  top: 60%;
}
.rain .raindrop:nth-child(7)::after {
  animation-delay: 3s;
}
.rain .raindrop:nth-child(8) {
  top: 80%;
  animation-delay: 2s;
}

/* lightning */
.lightning {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 100;
}
.lightning li {
}
.lightning li:nth-child(2) {
  transform: scale(0.8);
}
.lightning li:nth-child(3) {
  transform: scale(0.6);
}
.lightning li:nth-child(2) .light {
  margin: 0 25px;
}
.lightning li:nth-child(3) .light {
  margin: 0 30px;
}
.lightning .light {
  display: inline-block;
  position: relative;
  width: 0;
  height: 0;
  margin: 0 20px;
  border-left: 20px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 72px solid #ffe138;
  color: transparent;
  font-size: 0;
  transform: skewX(340deg);
}
.lightning .light::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 55px;
  border-left: 10px solid transparent;
  border-right: 20px solid transparent;
  border-top: 72px solid #ffe96c;
}

/* 애니메이션 */
@keyframes dropOpac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes drop {
  0% {
    height: 0;
    opacity: 0.4;
  }
  100% {
    height: 4.301vmin;
    opacity: 1;
  }
}
@keyframes clouds {
  0% {
    left: -100%;
  }
  100% {
    left: 110%;
  }
}
@keyframes coludStop {
  0% {
    left: 0;
  }
  100% {
    left: 21%;
  }
}
@keyframes cloudMove {
  0% {
    top: 44%;
    transition: 2s linear;
  }
  50% {
    top: 46%;
  }
  100% {
    top: 44%;
  }
}

/* .dottedTest {
  display: flex;
  position: absolute;
  top: 150%;
  left: 10%;
}
.dotted {
  display: block;
  margin: 0 20px;
  background-image: linear-gradient(#f5f5dc 33%, rgba(255, 255, 255, 0) 0%);
  background-position: right;
  background-size: 5px 40px;
  background-repeat: repeat-y;
  width: 5px;
  height: 600px;
} */
